html,body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(0, 238, 255), rgb(0, 132, 255), rgb(54, 73, 249));
    background-repeat: no-repeat;
    height: 198%;
  } 
  
  .titulo-tiposdepordosol{
    color: #000000;
}

.titulo-pordosolpraia{
    color: #fff;
}

.titulo-pordosolmontanha{
    color: #fff;
}

.titulo-pordosolceu{
    color: #fff;
}

.titulo-dadoscadastrais{
    color: #fff;
}

.titulo-atualizarpagina{
    color: #fff;
}

.titulo-sair{
    color: #fff;
}

a {
    color: #fff;
  }